<article id="post-first" class="wow slideInRight article article-type-post animated" itemscope="" itemprop="blogPost" style="visibility: visible;">
  <div class="article-meta">
    <a href="/2018/03/05/first/" class="article-date">
  <time class="post-time" datetime="2018-03-05T08:19:33.000Z" itemprop="datePublished">
    <span class="post-month">关于</span><br>
    <span class="post-day">我</span>
  </time>
</a>

  </div>
  <div class="article-inner">
    <header class="article-header">
      <h1 class="article-title" itemprop="name">
About Me
</h1>
      <div>
      </div>
    </header>
    <div class="article-entry" itemprop="articleBody">
      <p></p>
      <div style="width:100%;height:150px"><br> <a href="https://avatars1.githubusercontent.com/u/36815458?s=400&u=e8d237b3cb5a763c2fe453e8af6693540b11c1ab&v=4" title="" class="fancybox" rel="article0"><img src="https://avatars1.githubusercontent.com/u/36815458?s=400&u=e8d237b3cb5a763c2fe453e8af6693540b11c1ab&v=4" style="width:120px;height:120px;border-radius:120px;border:1px solid white"></a><br></div>
      <p></p>
      <h2 style="text-align:center;">Baron</h2>
      <table>
        <tbody>
          <tr>
            <td>GitHub Name:</td>
            <td><a href="https://github.com/qq752177433">Baron</a></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><a href="mailto: 752177433@qq.com" target="_blank" rel="external">752177433@qq.com</a></td>
          </tr>
          <tr>
            <td>QQ:</td>
            <td><a href="http://sighttp.qq.com/msgrd?v=1&uin=752177433" target="_blank" rel="external">752177433</a></td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td><a href="javascript:;" target="_blank" rel="external">13095802512</a></td>
          </tr>
        </tbody>
      </table>
      <p></p>
      <p>目标是做一个走在最前端的前端，最初入门的时候觉得是个简单的行业，但是却发现越学进入的坑就越多。把自己深埋其中，才发现自己和大牛们的区别，自学入门的我只能远远地仰望大牛们，虽然坑多，但是填坑的乐趣也是多多，时间久了，就发现自己慢慢能看懂网上的代码了，慢慢跟上了脚步，亲眼看见自己的进步还是很欣喜的。
      </p>
      <p>大学前两年学的东西很杂，前端，php，.net都会一点，但说不上精通。后来明悟了，术业有专攻，学好一门技术才是王道，最后选择了这个逻辑与效果并存的前端行业，还在行走在追赶大牛的脚步中，目前在挖react,webpack的坑...</p>
      <p></p>
    </div>
    <footer class="article-footer">

    </footer>
  </div>


</article>
